


$primary-color:#bbbbbb;
$secondary-color:	#d55fe3;
$show-home-image: true;
$home-image: url("../img/background.jpg");
$background-opacity: 0.9;

@mixin easeOut {
    transition: all 0.5s ease-out;
  }
  
  @mixin background {
    @if $show-home-image {
      &#bg-img {
        background: $home-image;
        background-attachment: fixed;
        background-size: cover;
  
        &:after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 200%;
          z-index: -1;
          background: rgba($primary-color, $background-opacity);
        }
      }
    }
  }





*{
    box-sizing: border-box;
    //  overflow: hidden;
  
}

body{
    @include background;
   
    background: $primary-color;
    color:white;
    height: 100;
    margin:0;
    font-family: 'Arvo', serif;
    line-height: 1.5;
}

// headings

h1,
h2,
h3 {
  margin: 0;

  text-align: center;
  font-weight: 400;

  &.lg-heading {
    font-size: 5rem;
    overflow: hidden;
  }

  &.sm-heading {
    margin-bottom: 0.5rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
   
  }
}

a{
    color:#fff;
    text-decoration: none;
}

header{
    position: absolute;
    z-index: 2;
    width:100;
}

.text-secondary{
    color:$secondary-color;

}

main{
    padding:4rem;
    height:100%;
    min-height: calc(100vh - 60px);
    
    .icons{
      text-align: center;
        margin-top:1rem;

        a{
            padding:0.4rem;

            &:hover{
                color:$secondary-color;
               @include easeOut();
            }
        }
    }

    &#home{
        overflow: hidden;
        h1{
            margin-top:20vh;
        }
    }
}

//   Menu

#movebtn{
  // position: absolute;
  // z-index: 3;
  float: right;
}
.menu-btn{
    position: absolute;
    z-index: 3;
 
 
    top:35px;
    cursor:pointer;
    @include easeOut;

    .btn-line{
        width: 27px;
        height:3px;
        margin: 0 0 5px 0;
         background: white;
        @include easeOut;

    }

    // rotator with x animation

    &.close{
        transform: rotate(180deg);


        .btn-line{
            // line 1- rotate
            &:nth-child(1){
               transform:rotate(45deg) translate(5px, 5px)
            }
        

            // line 2 hide
            &:nth-child(2){
                opacity: 0;
             }
            
            //  Line 3 rotate
            &:nth-child(3){
                transform:rotate(-45deg) translate(7px, -6px)
             }
        }
    }
}

// Overlay Menue Items

 .menu{
   float: right;
    //  position:fixed;
    top:0;
     width:100%;
      opacity: 0.9;
           visibility: hidden;

     &.show{
         visibility: visible;
         width:450px;
     }

     &-branding, &-nav{
display:flex;
 flex-flow:column wrap;
align-items:center;
justify-content: center;

float: right;
z-index:10;
width: 50%;
height:100vh;
overflow: hidden
     }
     
     &-nav {
        margin: 0;
        padding:0;
        background: $secondary-color;
        // height:fill;
        list-style: none;
        transform: translate3d(0, -100%, 0);
        @include easeOut;
    
        &.show {
          // Slide in from top
          transform: translate3d(0, 0, 0);
        }
  }

//   pic side

&-branding{
    background: darken($primary-color, 5);
    transform: translate3d(0, 100%, 0);
    @include easeOut;

    &.show{
        transform: translate3d(0, 0, 0);
    }
 .portrait{
   width:150px;
   height:150px;
   background: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-1/p240x240/62265671_10161855545715858_6303854007215456256_n.jpg?_nc_cat=101&_nc_oc=AQmtMU3AEwlDTL3N2KJSm5Pi7IwaLntzEiP9XPQG_jp4YKfy2w5WJ2kgBfJJ4yHcPKsafN-tx5etpTf_jUo_MUdV&_nc_ht=scontent-ort2-1.xx&oh=f59136389d16ea019dba2a791e008b96&oe=5DF9E7AA");
   background-size: 150px 150px;
   z-index:3;
   border-radius: 50%;
   border: solid 3px $secondary-color;
 }
}
  .nav-item{
    transform: translate3d(-300px, 0, 0);
    @include easeOut();
// Slide in about me section
&.show{
  transform: translate3d(0, 0, 0);

  &.current > a {
    color: $primary-color;
  }
}

  }
.nav-link{
  display: inline-block;
  position: relative;
  font-size:30px;
  padding: 0.3rem 0;
  &:hover{
    color:$primary-color;
   @include easeOut();

   
}
  
}

 }

#main-footer{
  text-align: center;
  position: fixed;
  bottom:0;
  width:100%;
  z-index:4;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// About page

// about pic
.about-info{
 text-align: center;
 margin-left: 350px;
 margin-right: 300px;
//  background-size: 150px 150px;
 z-index:3;
 background: darken($primary-color, 5);
 border: solid 3px $secondary-color;
 
  
}

// Case Studie pages
.about-info-case{
 
  text-align: center;
  margin-left: 150px;
  margin-right: 100px;
 //  background-size: 150px 150px;
  z-index:3;
  background: darken($primary-color, 5);
  border: solid 3px $secondary-color;
  
   
 }

// Delay each nav item by 0.1 seconds to make it look nicer


@for $x from 1 through 4 {
  .nav-item:nth-child(#{$x}) {
    transition-delay: $x * 0.1s;
  }
}

// Project

.projects{
  display:grid;
  grid-gap: 0.7rem;
  // grid-gap: 20px;
  grid-template-columns: repeate(3 1fr);
  
  img{
    width:300px;
    border: 7px white solid;
    border-radius: 7px;

    &:hover {
      opacity: 0.5;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Button Styles

.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 4px;
  margin-bottom: 0.3rem;
  &:hover{
    background:$secondary-color
  }
}

.btn-dark{
@extend .btn;
background: darken($primary-color, 20);
color: white;
}

.btn-light{
@extend .btn;
background: lighten($primary-color, 50);
color: black;
}

// Media Query Mixins
@mixin mediaSm {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 769px) and (max-width: 1170px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1171px) {
    @content;
  }
}

// Widescreens
@include mediaXl {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
     
      background: url("https://scontent-ort2-1.xx.fbcdn.net/v/t1.0-1/p240x240/62265671_10161855545715858_6303854007215456256_n.jpg?_nc_cat=101&_nc_oc=AQmtMU3AEwlDTL3N2KJSm5Pi7IwaLntzEiP9XPQG_jp4YKfy2w5WJ2kgBfJJ4yHcPKsafN-tx5etpTf_jUo_MUdV&_nc_ht=scontent-ort2-1.xx&oh=f59136389d16ea019dba2a791e008b96&oe=5DF9E7AA");
      background-size: 150px 150px;
      z-index:3;
     
    }
  }

  .about-info {
    grid-template-areas:
      'bioimage'
      'bio'
      'job1'
      'job2'
      'job3';

    grid-template-columns: 1fr;
  }

  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
      
    }

    .lg-heading {
      margin-top:1rem;
      font-size: 3rem;
    }
  }

  .projects {
    grid-template-columns: 1fr;
  }
}


